
<ion-view >
    <ion-tabs class="tabs-icon-top tabs-dark">
        <ion-tab title="Accueil" icon="ion-home" href="#/app/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Notifications" icon="ion-ios-bell" href="#/app/notification">
            <ion-nav-view name="notification-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Messagerie" icon="ion-chatboxes" href="#/app/messagerie">
            <ion-nav-view name="messagerie-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
