<ion-tabs class="tabsPadding tabs-assertive ">
  <ion-tab title="Accueil" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/app/home" badge="5" badge-style="badge-dark" >
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-off="ion-ios-bell" icon-on="ion-ios-bell" href="#/app/notification">
    <ion-nav-view name="notification-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Messagerie" icon-off="ion-ios-chatboxes" icon-on="ion-ios-chatboxes" href="#/app/messagerie" badge="2" badge-style="badge-dark" >
    <ion-nav-view name="messagerie-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>

