<ion-view view-title="Accueil">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-title class="bar bar-header bar-assertive item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Chercher des personnes, un poste, etc ...">
    </label>

  </ion-nav-title>

  <div class="bar bar-subheader tabsPadding" horizontal layout center>
    <img src="img/me.jpg" alt="" class="thumb-xs rounded m-l-sm m-r-sm">
    <div class="text-muted" flex ng-click="newPost()">Publier un article, une photo ou une idée</div>
    <button class="button button-icon ion-ios-camera-outline text-muted" ng-click="newPost()"></button>
  </div>

  <ion-content class="has-subheader bg-muted">
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-chevron-up"></ion-refresher>

    <div class="list card" ui-sref="app.post({id: $index})">
      <div class="wrapper-sm b-b b-light">
        <b>Florian Pizzala</b> aime ceci
      </div>

      <div class="wrapper-sm l-h clear">
        <img src="img/jeanne.jpg" alt="" class="thumb-sm rounded pull-left m-r-sm">
        <div class="clear">
          <div class="font-bold">Jeanne Plancke</div>
          <div class="text-sm text-muted">Digital Talent Recruiter chez Edgar People</div>
          <div class="text-sm text-muted">15 min</div>
        </div>
      </div>

      <div class="wrapper-sm">
        <p>
          «J’ai échoué 3 fois à l’université. J’ai postulé 30 fois pour avoir un boulot mais j’ai toujours été rejeté.
          Quand KFC est venu en Chine pour la première fois, nous étions 24 à postuler et j’étais le seul à être rejeté.
          Je voulais rentrer
          <span class="text-muted">...see more</span>
        </p>
      </div>

      <div class="img-full">
        <img src="img\img-post.jpg">
      </div>

      <div class="wrapper-sm bar-light">
        <a href="" class="subdued">3 J'aime</a>·
        <a href="" class="subdued">2 commentaires</a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left m-n">
        <a class="tab-item" href="">
          <i class="icon ion-thumbsup"></i>
          J'aime
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-chatbox"></i>
          Commenter
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-share"></i>
          Partager
        </a>
      </div>

      <div class="wrapper-sm l-h clear">
        <img src="img/coline.jpg" alt="" class="thumb-xs rounded pull-left m-r-sm">
        <div class="clear">
          <span class="font-bold">Coline Priore</span> Cela pourrait être un bon exemple!
        </div>
      </div>
    </div>

    <!-- Deuxieme item -->

    <div class="list card" ui-sref="tab.post({id: $index})">

      <div class="wrapper-sm l-h clear">
        <img src="https://media.licdn.com/media/p/4/000/131/36e/25e1116.jpg" alt=""
             class="thumb-sm rounded pull-left m-r-sm">
        <div class="clear">
          <div class="font-bold">Yves Caseau</div>
          <div class="text-sm text-muted">Group Head of Digital, AXA</div>
          <div class="text-sm text-muted">34 min</div>
        </div>
      </div>

      <div class="wrapper-sm">
        <p>
          AXA Digital Agency is looking for both a senior and a junior mobile application developer ! Add your passion
          to our Lean Startup team :)
        </p>
      </div>


      <div class="wrapper-sm">
        <a href="" class="subdued">26 J'aime</a>·
        <a href="" class="subdued">31 commentaires</a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left m-n">
        <a class="tab-item" href="">
          <i class="icon ion-thumbsup"></i>
          J'aime
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-chatbox"></i>
          Commenter
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-share"></i>
          Partager
        </a>
      </div>

      <div class="wrapper-sm l-h clear">
        <img
          src="https://media.licdn.com/media/AAEAAQAAAAAAAAkbAAAAJDJhNDk3MTdiLWI5MjctNDM0OC04YzU3LTYyYTQ0N2NjZGIyYQ.jpg"
          alt="" class="thumb-xs rounded pull-left m-r-sm">
        <div class="clear">
          <span class="font-bold">Tom Cotteril</span> I am interested
        </div>
      </div>
    </div>
    </div>

  </ion-content>
</ion-view>
