
<ion-view view-title="Préferences">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-header-bar class="tabs-light bar-subheader bg-muted">
    <div class="tabs tabs-secondary settings bg-muted" ng-init="activeTab = 0">
      <div class="tab-item" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0">
        COMPTE
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
        CONFIDENTIALITE
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2">
        COMMUNICATIONS
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
    <div ng-show="activeTab == 0">
      <div class="list">
        <div class="item item-text-wrap">
          <h2>Adresses e-mail</h2>
          <p>Ajouter ou supprimer des adresses e-mail sur votre compte</p>
        </div>
      </div>
    </div>

    <div ng-show="activeTab == 1">
      <div class="list">
        <div class="item item-text-wrap">
          <h2>Partager les modifications de profil</h2>
          <p>Décidez si vous souhaitez notifier votre réseau de vos modifications de profil</p>
        </div>
      </div>
    </div>

    <div ng-show="activeTab == 2">
      <div class="list">
        <div class="item item-text-wrap">
          <h2>Notifications Push</h2>
          <p>Décidez quelles notifications push mobiles vous voulez recevoir</p>
        </div>
        <div class="item">
          <h2>Assistance clientèle</h2>
        </div>
        <div class="item">
          <h2>Politique de confidentialité</h2>
        </div>
      </div>
       </div>

</ion-view>
