<ion-view view-title="Inscription">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding-top">
    <div class="text-center padding-top">
      <img src="img/logo.png" width="30%"/>
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
          ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">

      <div class="list list-inset">
          <label class="item item-input">
              <i class="icon ion-person"></i>
              <input name="txtnom" type="text" ng-model="user.lastname" placeholder="Nom"
                     ng-minlength="1"
                     ng-maxlength="30"
                     required>
          </label>
          <label class="item item-input">
              <i class="icon ion-person"></i>
              <input name="txtprenom" type="text" ng-model="user.name" placeholder="Prénom"
                     ng-minlength="1"
                     ng-maxlength="30"
                     required>
          </label>

        <label class="item item-input">
          <i class="icon ion-email"></i>
          <input name="txtemail" type="email" ng-model="user.email" placeholder="Adresse E-mail"
                 ng-minlength="6"
                 ng-maxlength="30"
                 required>
        </label>
        <!--<div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">Veuillez respecter le format du courriel (exemple@domaine.fr)</div>
          <div class="form-error" ng-message="email">Le champ email est vide</div>
          <div class="form-error" ng-message="maxlength">max length</div>
        </div>-->
        <label class="item item-input" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
          <i class="icon ion-locked"></i>
          <input name="txtpassword" type="password" ng-model="user.password" placeholder="Mot de passe"
                 ng-minlength="6"
                 ng-maxlength="25"
                 required>
        </label>
        <!--<div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">Vous devez entrer un mot de passe.</div>
          <div class="form-error" ng-message="minlength">min lenght = 6</div>
          <div class="form-error" ng-message="maxlength">max lenght = 30</div>
          <div class="form-error" ng-message="pattern">Vous devez saisir les caractères que des lettres et des chiffres.</div>
        </div>-->
      </div>
      <div class="medium_button">
        <input type="submit" value="Valider" class="button button-block button-assertive"/>
      </div>
    </form>
  </ion-content>
</ion-view>
