<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none bar-no-border">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeRegister()"></button>
  </ion-header-bar>
  <ion-content class="padding-top">
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
          ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">

      <div class="list list-inset bg-gradient">
          <label class="item item-input bg-gradient">
              <i class="icon ion-person light"></i>
              <input class="bg-gradient" name="txtnom" type="text" ng-model="user.lastname" placeholder="Nom"
                     ng-minlength="1"
                     ng-maxlength="30"
                     required>
          </label>
          <label class="item item-input bg-gradient">
              <i class="icon ion-person light"></i>
              <input class="bg-gradient" name="txtprenom" type="text" ng-model="user.name" placeholder="Prénom"
                     ng-minlength="1"
                     ng-maxlength="30"
                     required>
          </label>

        <label class="item item-input bg-gradient">
          <i class="icon ion-email light"></i>
          <input class="bg-gradient" name="txtemail" type="email" ng-model="user.email" placeholder="Adresse E-mail"
                 ng-minlength="6"
                 ng-maxlength="30"
                 required>
        </label>
        <!--<div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">Veuillez respecter le format du courriel (exemple@domaine.fr)</div>
          <div class="form-error" ng-message="email">Le champ email est vide</div>
          <div class="form-error" ng-message="maxlength">max length</div>
        </div>-->
        <label class="item item-input bg-gradient" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
          <i class="icon ion-locked light"></i>
          <input class="bg-gradient" name="txtpassword" type="password" ng-model="user.password" placeholder="Mot de passe"
                 ng-minlength="6"
                 ng-maxlength="25"
                 required>
        </label>
        <!--<div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">Vous devez entrer un mot de passe.</div>
          <div class="form-error" ng-message="minlength">min lenght = 6</div>
          <div class="form-error" ng-message="maxlength">max lenght = 30</div>
          <div class="form-error" ng-message="pattern">Vous devez saisir les caractères que des lettres et des chiffres.</div>
        </div>-->
      </div>
      <div class="medium_button">
        <input type="submit" value="S'inscrire" class="button button-block button-light button-outline"/>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
