<ion-view title="Vos candidatures">
    <ion-header-bar class="tabs-light bar-subheader bg-muted">
        <div class="tabs tabs-secondary settings" ng-init="activeTab = 0">
            <div class="tab-item" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0">
                Enregistré
            </div>
            <div class="tab-item" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
                Envoyé
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-subheader">
        <div ng-show="activeTab == 0">
            <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/ionic.png">
                        <h2>Développeur Ionic</h2>
                        <a  style="text-decoration:none;color:black;" href="#/autrepagepro">Ionic</a>
                        <p>Wisconsin 53703 États-Unis</p>
                    </div>
             </div>
        </div>

        <div ng-show="activeTab == 1">
            <div class="list card">
                <div class="item-divider">
                    Postulé le 28 novembre 2016
                </div>

                <div class="item item-avatar">
                    <img src="img/microsoft.png">
                    <h2>Développeur web PHP</h2>
                    <p>Microsoft</p>
                    <p>Redmond, USA</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/oracle.png">
                    <h2>Développeur J2E</h2>
                    <p>Oracle</p>
                    <p>Redwood Shores, USA</p>
                </div>
            </div>
        </div>
        
</ion-view>
