<ion-modal-view class="bg-gradient">
  <ion-header-bar class="b-none no-bg bar-no-border">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeLogin()"></button>
  </ion-header-bar>
  <ion-content class="padding-top">
 
    <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
      <div class="list list-inset bg-gradient textColorWhite">
        <label class="item item-input bg-gradient light textColorWhite"
               ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
          <i class="icon ion-email"></i>
          <input class="bg-gradient light textColorWhite" name="txtemail" type="email" ng-model="user.email" placeholder="Adresse e-mail"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required>
        </label>
        <!--<div class="form-error" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Adresse email ne peut pas être vide</div>
          <div ng-message="email">Vous devez entrer une adresse email valide.</div>
        </div>-->
        <label class="item item-input bg-gradient light textColorWhite"
               ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
          <i class="icon ion-locked"></i>
          <input class="bg-gradient light textColorWhite" name="txtPassword" type="password" ng-model="user.password" placeholder="Mot de passe"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required>
        </label>
        <!-- Edit this messages if you want -->
        <!--<div class="form-error" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Mot de passe ne peut pas être vide</div>
        </div>-->

        <div class="row">
          <div class="col light">
            <input class="light" type="checkbox"> Se souvenir de moi </input>
          </div>
          <div class="col text-right light">
            <a href="#/forgot" class="button button-clear button-light button-small light" style="font-size: small"> Mot de passe oublié ?</a>
          </div>
        </div>

      </div>
      <div>
        <div class="medium_button">
          <input type="submit" class="button button-block button-light button-outline textColorWhite " value="Se connecter">
          <p ng-click="goRegister()" class="button button-block button-light button-clear textColorWhite button-outline">S'inscrire</p>       
        </div>

        <!--<div class="no_account">
          <h4>Pas encore de compte ?</h4>
        </div>-->

        <!-- TODO
        <p class="text-center padding">
          Login with:
            <i ng-click="loginWithFacebook()" class="icon padding medium ion-social-facebook positive"></i><i ng-click="loginWithGoogle()" class="icon padding medium ion-social-google positive"></i><i ng-click="loginWithTwitter()" class="icon padding medium ion-social-twitter positive"></i>
        </p>
        -->



      </div>
    </form>
  </ion-content>
</ion-modal-view>
