<ion-view view-title="CONNEXION">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding-top">
    <div class="list text-center padding">
      <img src="img/logo.png" width="30%">
    </div>
    <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
      <div class="list list-inset">
        <label class="item item-input"
               ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
          <i class="icon ion-email"></i>
          <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required>
        </label>
        <!--<div class="form-error" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Adresse email ne peut pas être vide</div>
          <div ng-message="email">Vous devez entrer une adresse email valide.</div>
        </div>-->
        <label class="item item-input"
               ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
          <i class="icon ion-locked"></i>
          <input name="txtPassword" type="password" ng-model="user.password" placeholder="Password"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required>
        </label>
        <!-- Edit this messages if you want -->
        <!--<div class="form-error" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Mot de passe ne peut pas être vide</div>
        </div>-->
        <div class="remembber-text">
          <input type="checkbox"> Se souvenir de moi </input>
        </div>

        <p class="forgot-text">
          <a href="#/forgot" class="button button-clear button-dark button-small">Mot de passe oublié ?</a>
        </p>

      </div>
      <div>
        <div class="medium_button">
          <input type="submit" class="button button-block button-assertive " value="CONNEXION">
        </div>

        <div class="no_account">
          <h4>PAS ENCORE DE COMPTE ?</h4>
        </div>

        <p class="medium_button padding-top">
          <a href="#/register" class="button button-block button-positive">INSCRIPTION</a>
        </p>

        <!-- TODO
        <p class="text-center padding">
          Login with:
            <i ng-click="loginWithFacebook()" class="icon padding medium ion-social-facebook positive"></i><i ng-click="loginWithGoogle()" class="icon padding medium ion-social-google positive"></i><i ng-click="loginWithTwitter()" class="icon padding medium ion-social-twitter positive"></i>
        </p>
        -->

      </div>
    </form>
  </ion-content>
</ion-view>
