<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <button class="button button-clear" ng-click="closeConnections()">
      <i class="icon ion-android-close"></i>
    </button>
    <div class="h1 title">Relations</div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider no-bg">C</div>
      <div class="item item-avatar item-icon-right" ng-click="openProfilFriend()">
        <img src="img/coline.jpg" alt="">
        <div class="font-bold">Coline Priore</div>
        <div class="text-sm text-muted">Marketing</div>
        <div class="text-xs text-muted">1 relation en commun</div>
      </div>
      <div class="item item-divider no-bg">E</div>
      <div class="item item-avatar item-icon-right">
        <img src="img/avatar.jpg"  alt="">
        <div class="font-bold">Elisa Jacquemard</div>
        <div class="text-sm text-muted">Etudiante à l'Université Grenoble Alpes</div>
        <div class="text-xs text-muted">4 relations en commun</div>
      </div>
      <div class="item item-divider no-bg">G</div>
      <div class="item item-avatar item-icon-right">
        <img src="img/florian.jpg" alt="">
        <div class="font-bold">Florian Pizzala</div>
        <div class="text-sm text-muted">Etudiante à l'Université Grenoble Alpes</div>
        <div class="text-xs text-muted">9 relations en commun</div>
      </div>
      <div class="item item-divider no-bg">G</div>
      <div class="item item-avatar item-icon-right">
        <img src="img/guillaume.jpg"  alt="">
        <div class="font-bold">Guillaume Broder</div>
        <div class="text-sm text-muted">Etudiante à l'Université Grenoble Alpes</div>
        <div class="text-xs text-muted">4 relations en commun</div>
      </div>
    </div>

    </div>
  </ion-content>
</ion-modal-view>
