<ion-view title="Paramètres">
  <ion-content  class="has-header">
    <ion-list >
      <ion-item class="item-divider">
        Profil
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Prénom</span>
        <input type="text" >
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Nom</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Formation</span>
        <input type="text" >
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">
          Pays
        </div>
        <select>
          <option selected>France</option>
          <option >Canada</option>
          <option>Suisse</option>
          <option>Belgique</option>
          <option>Autre</option>
        </select>
      </ion-item>
      <ion-item class="item-stacked-label">
        <span class="input-label">Code postal</span>
        <input type="text" >
      </ion-item>
      <ion-item class="item-divider">
        Compte
      </ion-item>
      <ion-item class="item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email">
      </ion-item>
      <ion-item class="item-stacked-label">
        <span class="input-label">Numéro de téléphone</span>
        <input type="text">
      </ion-item>
      <ion-item >Changer mot de passe</ion-item>
      <ion-item class="item-divider">
        Confidentialité
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">
          Qui peut vous suivre
        </div>
        <select>
          <option selected>Tout le monde</option>
          <option>Mes relations</option>
        </select>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
