<ion-view title="Messagerie">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="bar bar-header bar-light item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Chercher des personnes, un poste, etc ...">
        </label>
    </ion-nav-title>
    <ion-content >
        <ion-list  ng-repeat="m in messagerie | reverse">
            <ion-item class="item item-avatar" ng-click="voirConversation(m)">
                    <img src="{{m.imageProfil}}">
                    <h2><b>{{m.user}}</b></h2>
                    <p>{{m.messages[0].message}}</p>
                
            </ion-item>
        </ion-list>
       <div >
           <button ng-click="newConversation()" class="pull-right button button-icon icon ion-plus-circled big-icon"></button>
       </div>
         
    </ion-content>
</ion-view>
