<ion-view view-title="MOT DE PASSE PERDU">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding-top">
    <div class="text-center padding">
      <img src="img/logo.png" width="30%">
    </div>
    <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetpassword(user)">
      <div class="list list-inset">
        <label class="item item-input" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
          <i class="icon ion-email"></i>
          <input name="txtemail" ng-model="user.email" placeholder="Email" type="email"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required>
        </label>
        <!--<div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$submitted">
          <div class="form-error" ng-message="required">Le champ email est vide</div>
          <div class="form-error" ng-message="email">Veuillez respecter le format du courriel (exemple@domaine.fr)</div>
          &lt;!&ndash;<div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
          <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>&ndash;&gt;
        </div>-->
      </div>
    </form>
    <div class="medium_button">
      <input type="submit" value="VALIDER" class="button button-block button-assertive"/>
    </div>
    </div>
  </ion-content>
</ion-view>
