<ion-view title="Notifications">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Recherche">
        </label>
    </ion-nav-title>
    <ion-content padding="true">
        <h1 style="text-align: center;">Notif</h1>
    </ion-content>
</ion-view>
