<ion-view view-title="Notifications" hide-nav-bar="false">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title class="bar bar-header bar-dark item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Chercher des personnes, un poste, etc ...">
        </label>
    </ion-nav-title>

  <ion-content class="stable-bg">
    <div class="list">
      <div class="card">
        <div class="item item-avatar item-text-wrap">
          <img src="img/guillaume.jpg" alt="">
          <div class="row no-padder">
            <div class="no-padder col-75">
              <h3 class="text-xxs">Guillaume et 4 autres personnes ont consulté votre profil</h3>
            </div>
            <div class="no-padder col-25 text-right">
              <i class="dot-status text-xs icon ion-record calm"></i>
              <span class="text-muted text-xs">10 min</span>
            </div>
          </div>
          <div class="likers wrapper-sm">
            <img class="thumb-xs rounded m-r-sm pull-left" random-avatar alt="" ng-repeat="i in [0,1]">
            <span class="thumb-xs rounded b b-light more-liker">
              <i class="icon-small ion-more "></i>
            </span>
          </div>
        </div>
      </div>

      <div class="list">
        <div class="card">
          <div class="item item-avatar item-text-wrap">
            <img src="img/Briefcase.png" alt="">
            <div class="row no-padder">
              <div class="no-padder col-75">
                <h3 class="text-xxs">Nous avons trouvé 10 annonces qui pourraient vous intéresser</h3>
              </div>
              <div class="no-padder col-25 text-right">
                <i class="dot-status text-xs icon ion-record calm"></i>
                <span class="text-muted text-xs">1 j </span>
              </div>
            </div>
            <div class="likers wrapper-sm">
              <a class="text-xs"><b>VOIR LES ANNONCES</b></a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="item item-avatar item-text-wrap">
            <img src="img/florian.jpg" alt="">
            <div class="row no-padder">
              <div class="no-padder col-75">
                <h3 class="text-xxs">Florian et 3 autres fêtent des anniversaires</h3>
              </div>
              <div class="no-padder col-25 text-right">
                <i class="dot-status text-xs icon ion-record calm"></i>
                <span class="text-muted text-xs">2 j</span>
              </div>
            </div>
            <div class="likers wrapper-sm">
              <img class="thumb-xs rounded m-r-sm pull-left" random-avatar alt=""
                   ng-repeat="i in [0,1]">
              <span class="thumb-xs rounded b b-light more-liker">
              <i class="icon ion-more"></i>
            </span>
            </div>
            <button class="button button-small padder button-outline button-calm font-bold">Souhaitez un joyeux
              anniversaire
            </button>
          </div>
        </div>

        <div class="card">
          <div class="item item-avatar item-text-wrap">
            <img src="img/avatar.jpg" alt="">
            <div class="row no-padder">
              <div class="no-padder col-75">
                <h3 class="text-xxs">Elisa a vu votre profil</h3>
              </div>
              <div class="no-padder col-25 text-right">
                <i class="dot-status text-xs icon ion-record calm"></i>
                <span class="text-muted text-xs">3 j</span>
              </div>
            </div>
            <div class="likers wrapper-sm">
              <a class="text-xs"><b>Découvrez qui a consulté votre profil</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
