i.icon {
  font-size: larger;
  padding-right: 5px;
}

.menu .bar.bar-header.expanded {
  background-image: url('../img/photo_profil.jpg');
  background-size: 120%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}




.bar.bar-profile {
  background-color: #444;
  height: 170px;
}

.bar .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.profile .name {
  color: #000000;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-align: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.edit-profil {
  text-align: center;
}

.form-error {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
  font-size: small;
}

.background-layout {

  background-color: #b2b2b2;
}

.rounded {
  border-radius: 15px;
}

p.forgot-text {
  text-align: right;
  margin-top: 0%;
  margin-bottom: 0%;
}

.medium_button {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.no_account {

  margin-top: 10%;
  background-color: #000000;

}

.no_account h4 {

  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.remembber-text {

  margin-top: 2%;
  text-align: left;

}
/* Overlay styling*/

.overlayBox {
  position: absolute;
  left: 50%;
  height: 98%;
  width: 100%;
  top: -80px;
  opacity: 0;
  margin: 80px 0 0 -149px;
}

.boxed {
  height: 50px;
  width: 100px;
  padding: 10px;
  border-radius: 6px;
  font-size: 30px;
}

.yes-text {
  background-color: rgba(0,256,0,0.2);
}

.yesBox {
  margin: 10% 60% 0% 10%;
  border: 2px solid #00FF00;
  color: rgb(0, 256, 0);
  -webkit-transform: rotate(-25deg);
}

.no-text {
  background-color: rgba(256,0,0,0.2);
}

.noBox {
  margin: 10% 10% 0% 60%;
  border: 2px solid #FF0000;
  color: rgb(256, 0, 0);
  -webkit-transform: rotate(25deg);
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.username{
  margin:5px;
  font-size: medium;
  font-weight: bold;
}
.big-icon, .big-icon:hover, .big-icon:before {
    font-size:60px !important;
    color:#ef473a;
}


.pic-profil-right img {
    float:right;
    width:60px;
    height:60px;
    border-radius:50%;
    padding:10px 10px;
}
.pic-profil-left img {
    float:left;
    width:60px;
    height:60px;
    border-radius:50%;
    padding:10px 10px;
}
.bubble-chat{
    border-radius:5px;
    padding:10px 20px;
  margin: 10px;
}
.bubble-chat.right{
    background-color: #ef473a ;
    margin-right:60px;
    color:white;
}
.bubble-chat:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: 55px;

}
.bubble-chat.right:before {
  background-color: #ef473a;
  right: 75px;
  -webkit-transform: rotate(125deg) ;
}
.bubble-chat.left:before {
  background-color: #e6e5eb;
  left: 75px;
  -webkit-transform: rotate(55deg) ;
}
.bubble-chat.left{
    background-color :#e6e5eb;
    margin-left:60px;
}
.date{
    font-size:11px;

}
.date.right{
    text-align:right;
    margin-right:60px;
}
.date.left{
    text-align:left;
    margin-left:60px;
}

.message a{
    text-decoration:none;

}

.footer-btn {
  position: absolute !important;
  bottom: 0;
}
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
}
button.ion-android-send {
  padding-top: 2px;
}
.bar-footer textarea {
  resize: none;
  height: 40px;
}
.bar-footer {
  overflow: visible !important;
}
.textarea{
  width: 100% !important;
  background-color: #f4f4f4 !important;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* Form error  */

form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block; }

form .has-error {
  border-left: 5px solid #cc2511; }

form .has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
  display: none; }
.platform-android .bar-subheader.has-tabs-top{
  top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top:137px;
}

